html {
    color-scheme: light dark;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    line-height: 1.4;
    margin: unset;
    -webkit-font-smoothing: antialiased;
}

button,
input,
textarea,
select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

img,
picture,
canvas {
    display: block;
    max-inline-size: 100%;
    block-size: auto;
}

/**
 END RESET
 **/

:root {
    --max-content-width: 65ch;
    --full-width: 82ch;
    --bg-app: #ececf5;
    --gray: #1e1e1e;
    --mix: #142334;
    --gray-lighter: color-mix(in lab, var(--mix) 10%, var(--gray));
    --accent: #1c5aab;
}

body {
    font-family: system-ui, sans-serif, Helvetica;
    font-size: clamp(1rem, 0.4vw + 1rem, 1.25rem);
    color: var(--gray);
    background-color: var(--bg-app);
    background-image: linear-gradient(to bottom, color-mix(in lab, white 8%, var(--bg-app)), var(--bg-app));
    min-height: 100svh;
    line-height: 1.5;

    > * {
        max-width: min(100% - 2rem, var(--full-width));
        margin-inline: auto;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        color-scheme: dark;
        --bg-app: #172a41;
        --gray: #ececec;
        --accent: #96bffa;
        --mix: #ffffff;
    }
}

#main-footer {
    display: flex;
    gap: 1rem;
    align-items: baseline;
    padding-block: 1rem;
    border-top: 1px dashed currentColor;
    flex-wrap: wrap;

    ul {
        list-style: none;
        padding: 0;
        display: grid;
        grid-template-columns: repeat(2, 8em);
    }

    a {
        text-decoration: none;
        width: min-content;
        color: color-mix(in lab, var(--mix) 30%, var(--accent));
    }

    h2 {
        font-size: 1em;
        margin: unset;
        margin-block-end: 0.5em;
    }

    > * {
        font-size: 0.85em;
    }

    p {
        margin: unset;
    }

    > p {
        flex-grow: 1;
    }
}

#main-header {

    display: grid;
    grid-template-rows: auto 1fr;
    row-gap: 0.5em;

    .heading {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
    }

    .title {
        flex-grow: 1;
        text-align: center;
    }

    nav {
        margin-inline-start: auto;

        ul {
            display: flex;
            padding: 0;
            list-style: none;
        }

        li {
            padding: 0.25em 0.5em;
        }

        a {
            text-underline-offset: 0.25em;
        }

    }
}

main {
    margin-block-end: 2em;

    & > p:first-child {
        margin-block: 2em;
    }

}

.publication-date {
    margin-block: unset;
    font-size: 0.8em;
    color: var(--gray-lighter);
}

p {
    margin-block: 1em;
}

:where(h2, h3, h4, h5) {
    margin-block-start: 2em;
}

h2 {
    font-size: 1.4em;
}

pre[class*='language-'] {
    padding: 1em 0.8em;
    overflow: auto;
    border-radius: 4px;
}

code[class*='language-'] {
    font-size: 0.8em;
}

a {
    color: var(--accent);
    padding: 2px;
    border-radius: 4px;

    &:hover {
        background-color: color-mix(in lab, var(--mix) 10%, var(--bg-app));
    }
}

:where(a, h2):has(.icon) {
    display: flex;
    align-items: center;
    gap: 0.25em;
}


p > code {
    --_color: color-mix(in lab, var(--bg-app) 85%, var(--mix));
    background: var(--_color, lightgray);
    padding-inline: 0.25em;
    font-size: 0.9em;
}

.icon {
    --size: 1.2em;
    display: inline-block;
    width: var(--size);
    height: var(--size);
    fill: color-mix(in lab, var(--mix) 30%, currentColor);
}
