html {
    color-scheme: light dark;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    line-height: 1.4;
    margin: unset;
    -webkit-font-smoothing: antialiased;
}

button,
input,
textarea,
select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

img,
picture,
svg,
canvas {
    display: block;
    max-inline-size: 100%;
    block-size: auto;
}

/**
 END RESET
 **/

:root {
    --max-content-width: 65ch;
    --full-width: 82ch;
    --bg-app: #ececf5;
    --gray: #1e1e1e;
    --mix: #142334;
    --gray-lighter: color-mix(in lab, var(--mix) 10%, var(--gray));
    --accent: #1c5aab;
}

body {
    font-family: system-ui, sans-serif, Helvetica;
    font-size: clamp(1rem, 0.4vw + 1rem, 1.25rem);
    color: var(--gray);
    background-color: var(--bg-app);
    background-image: linear-gradient(to bottom, color-mix(in lab, white 8%, var(--bg-app)), var(--bg-app));
    min-height: 100svh;
    line-height: 1.5;
}

@media (prefers-color-scheme: dark) {
    :root {
        color-scheme: dark;
        --bg-app: #172a41;
        --gray: #ececec;
        --accent: #96bffa;
        --mix: #c5dcfd;
    }
}

.publication-date {
    margin-block: unset;
    font-size: 0.8em;
    color: var(--gray-lighter);
}

#main-header {
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: auto 1fr ;
    align-items: center;
    max-width: min(100% - 2rem, var(--full-width));
    margin: auto;
    gap: 0 0.5em;

    a {
        &:last-child {
            margin-inline-start: auto;
        }
    }

    a:has(#logo){
        grid-row: 1 / span 2;
    }

    nav {
        grid-row: 1 / 1;
        grid-column: 2 / 2;
        margin-inline-start: auto;

        ul {
            display: flex;
            padding: 0;
            list-style: none;
        }

        li {
            padding: 0.25em 0.5em;
        }

        a {
            text-underline-offset: 0.25em;
        }

    }
}

main {
    max-width: min(100% - 2rem, var(--max-content-width));
    margin-inline: auto;
    margin-block-end: 2em;

    & > p:first-child {
        margin-block: 2em;
    }

}

p {
    margin-block: 1em;
}

:where(h2, h3, h4, h5) {
    margin-block-start: 2em;
}

h2 {
    font-size: 1.4em;
}

pre[class*='language-'] {
    padding: 1em 0.8em;
    overflow: auto;
    border-radius: 4px;
}

code[class*='language-'] {
    font-size: 0.8em;
}

a {
    color: var(--accent);
}


p > code {
    --_color: color-mix(in lab, var(--bg-app) 85%, var(--mix));
    background: var(--_color, lightgray);
    padding-inline: 0.25em;
    font-size: 0.9em;
}
