body {
    box-sizing: border-box;
    --layout-padding: 1em
}

body * {
    box-sizing: inherit;
}

p {
    max-width: 60rem;
    line-height: 1.4;
}

p a {
    background: #f0f0f0;
    border-bottom: 2px solid coral;
    color: #6b9beb;
    text-decoration: none;
}

main {
    padding: var(--layout-padding, 1em);
}

h1 {
    align-self: flex-start;
}